
  /* .header {
    display: flex;
    flex-direction: column;
    align-items: middle;
    margin: 2rem auto;
  }
  
  .headerImage {
    width: 4rem;
    height: 4rem;
    max-width: 72rem;
  }
  
  .headerHomeImage {
    width: 6rem;
    height: 6rem;
    max-width: 72rem;
   margin-left: 2rem; 
  }

  .headerHomeImage2 {
    width: 6rem;
    height: 6rem;
    max-width: 72rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  @media screen and (min-width: 800px) {
    .headerHomeImage {
      width: 6rem;
      height: 6rem;
      max-width: 72rem;
     margin-left: 2rem;
    }
} */