@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    margin-top: 16px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  /* color: #0070f3; */
  color: #212529 !important;
 /* font-weight: 700 !important; */
 border-bottom: 1px solid;
 cursor: pointer;
}

a:hover {
  background-color: #ececec;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  border-bottom: 0px;
  cursor: pointer;
  /* background-color: rgb(236, 193, 250) */
}

img {
  max-width: 100%;
  display: flex;
}

p {
  margin-top: 16px;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: rgb(190, 0, 255);
  font-size: 0.95em;
  /* background: #f3f3f3; 
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px; */
}

blockquote {
  margin: 30px 0px;
  color: rgb(102, 102, 102);
  border-left: 4px solid rgb(204, 204, 204);
  padding-left: 20px;
}

::selection {
  background: rgb(0, 255, 242);
}

.two {
  color: #212529 !important;
 /* font-weight: 700 !important; */
 cursor: pointer;
 text-decoration: none;
}

p:hover {
  margin-top: 16px;
  color: #7a7a7a;
}